<launch>
    <!-- Xsens IMU Driver Node -->
    <node name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
        <rosparam command="load" file="$(find xsens_mti_driver)/param/xsens_mti_node.yaml" />
    </node>

    <!-- IMU Filter Madgwick -->
    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="imu_manager"
          args="manager" output="screen" />

    <!-- Madgwick Filter Nodelet -->
    <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
          args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
          output="screen">
        <param name="publish_tf" value="false"/>
    </node>
</launch>
